In [1]:
from src.database_sqlalchemy import SQLAlchemyConnection

db = SQLAlchemyConnection()
engine, session = db.connect()
print("✅ Conexión exitosa a la base de datos")
db.close()

✅ Conexión exitosa a la base de datos

In [3]:
db = SQLAlchemyConnection()
query = "SELECT * FROM customers LIMIT 5;"
df = db.execute_query(query)
display(df)
db.close()

,customer_id,first_name,middle_initial,last_name,city_id,address
0,1,Stefanie,Y,Frye,79,97 Oak Avenue
1,2,Sandy,T,Kirby,96,52 White First Freeway
2,3,Lee,T,Zhang,55,921 White Fabien Avenue
3,4,Regina,S,Avery,40,75 Old Avenue
4,5,Daniel,S,Mccann,2,283 South Green Hague Avenue

In [ ]:
db1 = SQLAlchemyConnection()
db2 = SQLAlchemyConnection()
print("¿db1 es db2?", db1 is db2)

¿db1 es db2? True

In [5]:
from src.models.factory import ModelFactory

customer_data = {
    "customer_id": 1,
    "first_name": "Pepe",
    "middle_initial": "",
    "last_name": "Argento",
    "city_id": 99,
    "address": "Tv. del Bueno 456"
}
customer = ModelFactory.create("customer", customer_data)
print(customer)

Customer(1): Pepe Argento, Tv. del Bueno 456

In [6]:
import pytest

# Esto ejecuta los tests y muestra el resumen en el output del notebook
!pytest --maxfail=1 --disable-warnings -q

...........                                                              [100%]
11 passed in 0.83s

En este notebook se demuestra la integración de la solución: conexión a MySQL usando patrón Singleton, ejecución y visualización de consultas SQL desde Python en DataFrames de pandas, instanciación de modelos usando Factory, y la validación de todo el sistema mediante pruebas unitarias automatizadas.